<?php
/**
 * Cloudzoom Extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   QS
 * @package    QS_Cloudzoom
 * @author     Quart-soft Magento Team <magento@quart-soft.com>
 * @copyright  Copyright (c) 2010 Quart-soft Ltd http://quart-soft.com 
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

/**
 * Product media data template
 *
 * @see Mage_Catalog_Block_Product_View_Media
 */
?>

<?php
/*
    Since at this point in Magento is not working mechanism of the change of image size aspect ratio.
    In this case, use our Helper.
*/
	$_product = $this->getProduct();
    $_helper = $this->helper('catalog/output');
    $galleryImages = $_product->getMediaGalleryImages();

$fixSize = Mage::getStoreConfig('qs_cloudzoom/general/fix_size'); // width or height
$imgSize = Mage::getStoreConfig('qs_cloudzoom/general/image_size'); // 265px by default

$effect = Mage::getStoreConfig('qs_cloudzoom/general/effect');
$tint = Mage::getStoreConfig('qs_cloudzoom/general/tint');
$conf = "zoomWidth:'".Mage::getStoreConfig('qs_cloudzoom/general/zoom_width')."', ".
        "zoomHeight:'".Mage::getStoreConfig('qs_cloudzoom/general/zoom_height')."', ".
        "position:'".Mage::getStoreConfig('qs_cloudzoom/general/position')."', ".
        "adjustX:".Mage::getStoreConfig('qs_cloudzoom/general/adjust_x').", ".
        "adjustY:".Mage::getStoreConfig('qs_cloudzoom/general/adjust_y').", ".
        ($effect=="tint"?"tint:'".$tint."', "."tintOpacity:".Mage::getStoreConfig('qs_cloudzoom/general/tint_opacity').", ":"").
        ($effect=="focus"?"softFocus:'true', ":"").        
        "lensOpacity:".Mage::getStoreConfig('qs_cloudzoom/general/lens_opacity').", ".
        "smoothMove:".Mage::getStoreConfig('qs_cloudzoom/general/smooth_move').", ".
        "showTitle:'".(Mage::getStoreConfig('qs_cloudzoom/general/show_title')?"true":"false")."', ".
        "titleOpacity:".Mage::getStoreConfig('qs_cloudzoom/general/title_opacity');
?>
<?php if ($_product->getImage() != 'no_selection' && $_product->getImage()): ?>
<script type="text/javascript">
//<![CDATA[
function jSelectImage(id) {
    jq("#zoom img").attr("src", jq("#thumb"+id).attr("rel")).attr("title", jq("#thumb"+id+" img").attr("title"));
	jq("#zoom").data("zoom").destroy();
    jq("#zoom").attr("href", jq("#thumb"+id).attr("href")).CloudZoom();
}
//]]>
</script>
	<div id="image">
        <?php $firtsImage = Mage::helper("cloudzoom")->imageToVarien($_product); ?>
        <a href='<?php echo $firtsImage->getUrl()?>' class='cloud-zoom' id='zoom' rel="<?php echo $conf ?>">
          <img src="<?php echo Mage::helper("cloudzoom")->getImage($_product, $firtsImage, $fixSize, $imgSize)?>" alt='<?php echo $this->htmlEscape($_product->getName()) ?>' style="<?php echo $fixSize.":".$imgSize ?>px" title="" />
        </a>
    </div>
<?php else: ?>
	<p class="product-image">
		<?php
			$_img = '<img src="'.$this->helper('catalog/image')->init($_product, 'image')->resize(304).'" alt="'.$this->htmlEscape($this->getImageLabel()).'" title="'.$this->htmlEscape($this->getImageLabel()).'" />';
			echo $_helper->productAttribute($_product, $_img, 'image');
		?>
	</p>
<?php endif; ?>

<?php if (count($galleryImages) > 0): ?>
<div class="more-views" style="display:<?php echo count($galleryImages)>1?"block":"none"?>">
	<!--h4><?php echo $this->__('More Views') ?></h4-->
    <ul>
    <?php $i=0;
		foreach ($galleryImages as $_image): ?>
        <li>
        <a href="<?php echo $_image->url; ?>" class="" rel="<?php echo Mage::helper("cloudzoom")->getImage($_product, $_image, $fixSize, $imgSize)?>" id="thumb<?php echo $i ?>" onclick="jSelectImage('<?php echo $i ?>'); return false;">
        	<img src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail', $_image->getFile())->resize(56); ?>" alt="<?php echo $this->htmlEscape($_image->getLabel()) ?>" title="<?php echo $this->htmlEscape($_image->getLabel()) ?>" />
		</a>
        </li>
    <?php ++$i; endforeach; ?>
    </ul>
</div>
<?php endif; ?>



