<?php echo $this->getLayout()->createBlock('core/template')->setBlockId('topSearch')->toHtml() ?>
<?php /*?>
<div class="block block-banner">
    <div class="block-content">
        <p>text</p>
		<?php echo $this->getLayout()->createBlock('news/news')->setBlockId('homeNews')->toHtml() ?>
    </div>
</div>
<?php*/ ?>