/*
    Document   : reksoft-warenkorb
    Created on : 25.05.2011, 9:53:52
    Author     : shirokovskiy
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.reksoft-warenkorb {float: right; height: 60px; padding-top: 11px; width: 230px;}
.reksoft-warenkorb .basket {float: left; margin-right: 10px; padding-top: 6px}
.reksoft-warenkorb .basket-details {float: left; line-height: 1.2;}
.reksoft-warenkorb h4 {color: #FF9F00; margin: 0 0 1px;}
.reksoft-warenkorb .p2 {color: #454545; }
.reksoft-warenkorb .p3 {color: #7c7c7c; font-size: 11px; font-style: italic}
.reksoft-warenkorb p {margin: 0 0 2px;}
