<div class="footer-container">
    <div class="footer">
	<div class="links-wrapper">
            <?php echo $this->getChildHtml() ?>
	</div>
	<div class="copyright">
		<div class="left"><?php echo $this->getCopyright() ?></div>
		<div class="right"><?php echo Mage::getStoreConfig('general/store_information/phone') ?>, <?php echo Mage::getStoreConfig('trans_email/ident_general/email') ?></div>
		<div class="right logo-counter">
		<A HREF="http://parikmaher.parikmag.ru/" target="_blank"><IMG SRC="http://parikmaher.net.ru/parik.gif" ALT="Первый в русском интернете Форум о Парикмахерском Деле" WIDTH=88 HEIGHT=34 BORDER="0"></A>
		</div>
	</div>
    </div>
</div>
