<?php
/**
 * @var Mage_Page_Block_Html_Header $this
 */
?>
<div class="header-container">
    <div class="header">
        <div id="topsite_navigation">
            <div class="left-block">
                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('footer_links')->toHtml(); /* несмотря на то что она футер, она вверху, просто - такая же */ ?>
            </div>
            <div class="right-block">
                <ul>
                    <li class=""><a href="<?php echo $this->getUrl('customer/account/login') ?>">Вход</a></li>
                    <li class="last"><a href="<?php echo $this->getUrl('customer/account/create') ?>">Регистрация</a></li>
                </ul>
<!--                <div class="link-item"><a href="<?php echo $this->getUrl('customer/account/login') ?>">Вход</a></div>
                <div class="link-item last"><a href="<?php echo $this->getUrl('customer/account/create') ?>">Регистрация</a></div>-->
            </div>
        </div>


        <?php if ($this->getIsHomePage()):?>
        <h1 class="logo"><strong><?php echo $this->getLogoAlt() ?></strong><a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" /></a></h1>
        <?php else:?>
        <a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><strong><?php echo $this->getLogoAlt() ?></strong><img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" /></a>
        <?php endif?>
        <div class="quick-access">
            <div class="top-head-phone">
                <p>Отдел продаж в Европе:</p>
                    <p class="phone"><span>+372</span> 5699 35 17</p> <!--5192-2744-->
            </div>
            <?php echo $this->getChildHtml('warenkorb') ?>
            <?php #echo $this->getChildHtml('topLinks') ?>
            <?php #echo $this->getChildHtml('store_language') ?>
        </div>
        <?php echo $this->getChildHtml('topContainer'); ?>
    </div>
</div>
<?php echo $this->getChildHtml('topMenu') ?>
