<?php
/**
 * @author: Shirokovskiy Dimitry, Reksoft
 */

$Mage_Checkout_Block_Cart_Sidebar = Mage::getBlockSingleton('checkout/cart_sidebar');
$_cartQty = (int)$Mage_Checkout_Block_Cart_Sidebar->getSummaryCount();
?>
<div class="reksoft-warenkorb">
    <div class="basket"><img title="Мои покупки" src="<?php echo $this->getSkinUrl('images/warenkorb.png') ?>" /></div>
    <div class="basket-details">
        <h4>Ваши покупки:</h4>
        <p class="p2">Выбрано <?php if ($_cartQty > 0 ):?><a href="<?php echo $this->getUrl("checkout/cart") ?>"><?php echo $_cartQty ?> продуктов</a><?php else: ?>0 продуктов<?php endif; ?></p>
        <p class="p3">на общую сумму <?php echo Mage::helper('checkout')->formatPrice($Mage_Checkout_Block_Cart_Sidebar->getSubtotal()) ?></p>
    </div>
    <div class="clearer"></div>
</div>