<?php
/**
 * Homepage top banner (Slider)
 */
?>
<!--<div id="slider" class="box-banner theme-default">
    <img title="" src="<?php #echo $this->getSkinUrl('images/slider/banner1.png') ?>" />
    <img title="" src="<?php #echo $this->getSkinUrl('images/slider/banner2.png') ?>" />
    <img title="" src="<?php #echo $this->getSkinUrl('images/slider/banner3.png') ?>" />
</div>-->

<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('home_slider')->toHtml() ?>

<script language="JavaScript" type="text/javascript">
//<![CDATA[
jQuery(document).ready(function($){
	$('#slider').nivoSlider({
		effect:'fade'
		, directionNav: false
		, animSpeed: 700
		, pauseTime: 10000
	});
});
//]]>
</script>