<?php
/*
 *	Paradox Labs, Inc.
 *	http://www.paradoxlabs.com
 *	717.431.3330
 *	Twitter: ParadoxLabs
 *
 *	ParadoxLabs_News Magento Plugin
 *	Create and edit simple news entries via the Admin Panel to be displayed on the front-end.
 *
 *	Having a problem with the plugin?
 *	Not sure what something means?
 *	Need custom development?
 *		Give us a call!
 *
 *	Copyright 2010, Paradox Labs, Inc.
 *	Licensed under OSL 3.0 License
 *		http://opensource.org/licenses/osl-3.0.php
 */

	$base = Mage::getBaseUrl();
	$dateFormat = "M j, Y";
?>
<div class="breadcrumbs">
	<ul>
		<li class="home">
			<a title="<?php echo $this->__("Go to Home Page"); ?>" href="<?php echo $base; ?>"><?php echo $this->__("Home"); ?></a>
			<span>/ </span>
		</li>
		<li class="cms_page">
			<strong><a href="<?php echo $base; ?>news/"><?php echo $this->__("News"); ?></a></strong>
		</li>
	</ul>
</div>

<div class="page-title">
	<h1><?php echo $this->__("News"); ?></h1>
</div>

<hr />

<div class="news">
<?php
	/**
	 * Display one
	 */
	$id = isset($_GET['n']) ? intval($_GET['n']) : 0;
	if($id > 0) {
		$row = $this->getNewsById( $id );

		$html = Mage::helper('cms')->getBlockTemplateProcessor()->filter($row['news_text']);
		
		echo "<div class='news_entry'>\n";
		echo "<h4>".date($dateFormat,$row['news_date'])."</h4>\n";
		echo "<h3>".$row['news_title']."</h3>\n<br style='clear:left' />";
		echo $html."\n";
		echo "</div>\n";
		echo "<hr />\n";
	}
	
	/**
	 * Display all
	 */
	else {
		$rows = $this->getLatestNews( 10 );
		
		foreach( $rows as $row ) {
			$html = Mage::helper('cms')->getBlockTemplateProcessor()->filter($row['news_text']);
			
			echo "<div class='news_entry'>\n";
			echo "<h4>".date($dateFormat,$row['news_date'])."</h4>\n";
			echo "<h3>".$row['news_title']."</h3>\n<br style='clear:left' />";
			echo $html."\n";
			echo "</div>\n";
			echo "<hr />\n";
		}
	}
?>
</div>