<?php
/*
 *	Paradox Labs, Inc.
 *	http://www.paradoxlabs.com
 *	717.431.3330
 *	Twitter: ParadoxLabs
 *
 *	ParadoxLabs_News Magento Plugin
 *	Create and edit simple news entries via the Admin Panel to be displayed on the front-end.
 *
 *	Having a problem with the plugin?
 *	Not sure what something means?
 *	Need custom development?
 *		Give us a call!
 *
 *	Copyright 2010, Paradox Labs, Inc.
 *	Licensed under OSL 3.0 License
 *		http://opensource.org/licenses/osl-3.0.php
 */
?>
<div class="homepage-newsletter">
	<div class="homepage-mini"><h2><?php echo $this->__("News"); ?></h2></div>
	<?php
		$rows = $this->getNewsTitles(0,5);
		foreach($rows as $row) {
			echo '<h3><a href="'.Mage::getBaseUrl().'news/?n='.$row['news_id'].'">'.$row['news_title'].' - '.date($this->__('Date format'), $row['news_date']).'</a></h3>';
		}
	?>
</div>