<?php
/*
 *	Paradox Labs, Inc.
 *	http://www.paradoxlabs.com
 *	717.431.3330
 *	Twitter: ParadoxLabs
 *
 *	ParadoxLabs_News Magento Plugin
 *	Create and edit simple news entries via the Admin Panel to be displayed on the front-end.
 *
 *	Having a problem with the plugin?
 *	Not sure what something means?
 *	Need custom development?
 *		Give us a call!
 *
 *	Copyright 2010, Paradox Labs, Inc.
 *	Licensed under OSL 3.0 License
 *		http://opensource.org/licenses/osl-3.0.php
 */

	$base = Mage::getBaseUrl();
	$dateFormat = "d.m.Y";

	// Changing this number increases how many entries are fetched.
	// You'll still need to echo each one further down.
	$number_to_show = 3;

	$rows = $this->getLatestNews($number_to_show);
	$i = 0;
	foreach($rows as $row) {
		$html = Mage::helper('cms')->getBlockTemplateProcessor()->filter($row['news_text']);

		$news[$i]	 = "<div class='news_entry'>\n";
		$news[$i]	.= "    <span class='news_date'>".date($dateFormat,$row['news_date'])."</span>\n";
		$news[$i]	.= "    <p>".$row['news_title']."</p>\n<!--br style='clear:left' /-->";
		//$news[$i]	.= $html."\n";
        $news[$i]	.= "    <p><a href='".$base."news/?n=".$row['news_id']."' class='button'>".$this->__("More")."</a></p>";
		$news[$i]	.= "</div>";
		$news[$i++]	.= "<!--a href='".$base."news/?n=".$row['news_id']."' class='button'>".$this->__("More")."</a-->";
	}
?>

	<div class="homepage-news news">
		<h4><?php echo $this->__("News"); ?></h4>
		<?php foreach($news as $news_entry) {
            echo $news_entry;
        }
        ?>
        <div class="mini"><a href="<?php echo $base; ?>news/"><?php echo $this->__("Earlier News"); ?></a></div>
	</div>

<?php /*?>
	<div class="homepage-newsletter">
		<div class="homepage-mini"><h2><a href="<?php echo $base; ?>news/"><?php echo $this->__("Earlier News"); ?></a></h2></div>
		<?php
			$rows = $this->getNewsTitles($number_to_show,5);
			foreach($rows as $row) {
				echo '<h3><a href="'.$base.'news/?n='.$row['news_id'].'">'.$row['news_title'].' - '.date($dateFormat,$row['news_date']).'</a></h3>';
			}
		?>
	</div>
<?php*/ ?>